<html>

<body>
<p>Hello <%= name; %>, seems like you have lost your password.</p>
<p>This is not a problem, just click <a href="<%= link; %>">here</a>
    or copy and paste it to your browser to proceed resetting your password:</p>
<br />
<p><%= link; %></p>
<br />
<p>This link expires in a few minutes, so you gotta be fast!</p>
<p>Case you did not ask to reset your password, you can stay calm and please ignore this email. Your account is
    protected.</p>
<br />
<p>Regards,<br />Jean de Melo</p>
</body>

</html>